#nav-container {
  @apply flex items-center justify-center gap-3;
}

#nav-container > a {
  @apply flex items-center text-text justify-center bg-opacity-60
  py-[5px] px-5 h-[40px] gap-1 rounded-full overflow-hidden;
  transition: all 0.3s ease-in-out;
}

#nav-container > a:hover {
  @apply bg-opacity-40 bg-primary;
}

#nav-container > a > svg {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;

  width: 0rem;
  height: 0rem;
}

#nav-container > a:hover > svg {
  width: 1rem;
  height: 1rem;
}
